.index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #014495;
}

.inicio {
    color: white;
    font-size: 2em;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    margin-top: 15vh;
}

.inicio img {
    width: 30%;
    margin: 20px;
    animation: flotar infinite 3s linear;
}

@keyframes flotar {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translate(0px);
    }
}

.inicio h1 {
    margin: 0;
    letter-spacing: 10px;
}

.sesion{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sesion a{
    width: 20%;
}

.sesion button {

    height: 50px;
    width: 100%;
    background-color: #dadada;
    cursor: pointer;
    padding-left: 15%;
    padding-right: 15%;
    border: solid black 1px;
}

.button-l{
    border-radius: 0px 40px 0px 15px;
}

.button-r{
    border-radius: 40px 0 15px 0;
}

.sesion button:hover {
    transform: scale(1.2);
}