@import 'variables';

/* Estilo general del formulario */
.login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#formWrapper {
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}

.form-item {
    margin-bottom: 15px;
}

.formLabel {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
    margin-top: 8px;
}

.form-style {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-item p a {
    color: $azul-claro;
}

.form-item a:hover {
    text-decoration: underline;
}

.login {
    border: none;
    border-radius: 5px;
    padding-top: 5vh;
    font-size: 1.5em;
}

.login-button {
    background-color: $azul-claro;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border: none;
    font-size: 1em;
}

.login-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.error {
    border: 1px solid red;
    background-color: #FFD6D6;
}

.correct {
    border: 1px solid rgb(26, 113, 0);
    background-color: #a1ff9b;
}

.bote {
    animation: flotar 0.5s linear;
}

@keyframes flotar {
    0% {
        transform: translate(0px);
        color: red;
    }

    50% {
        transform: translateY(-5px);
        color: red;
    }

    100% {
        transform: translate(0px);
        color: black;
    }
}

.ocultar {
    display: none;
}

.grupo-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 601px) and (max-width: 1023px) {}


@media only screen and (min-width: 1024px) {}