.enunciado {
    background-color: $azul-oscuro3;
    margin: 0;
    text-align: center;
    padding: 19px;
    color: white;
}

.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prestamosMain {

    .error {
        text-align: center;
        font-size: 1.5em;
        padding: 5px;
    }

    .correct{
        text-align: center;
        font-size: 1.5em;
        padding: 5px;

    }

    .formPrestamoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $azul-claro;
        padding: 50px;
        margin-top: 10vh;
        width: 500px;
        box-shadow: 15px 15px 15px black;
    }

    form {
        background-color: $azul-claro3;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .form-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

        input {
            border: black solid 1px;
            padding: 5px;
        }

        @media (max-width: 768px) {
            .form-item {
                flex-direction: column;
            }
        }

        .btnEnviar {
            &:hover {
                background-color: $azul-oscuro3;
                cursor: pointer;
                color: white;
            }
        }
    }



}