.enunciado {
    background-color: $azul-oscuro3;
    margin: 0;
    text-align: center;
    padding: 19px;
    color: white;
}

.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prestamosMain {

    .error {
        text-align: center;
        font-size: 1.5em;
        padding: 5px;
    }

    .correct {
        text-align: center;
        font-size: 1.5em;
        padding: 5px;

    }


    @media (min-width: 601px) {
        .formPrestamoWrapper {
            width: 500px;
        }

    }


    .formPrestamoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $azul-oscuro3;
        margin-top: 10vh;
        margin-bottom: 5vh;
        box-shadow: 15px 15px 15px black;
        color: white;
        border-radius: 15px 0px 15px 0px;

        .saldoActual {
            text-align: center;
            width: 100%;
        }

        .hasta {
            text-align: center;
            width: 100%;
            border-bottom: 2px rgb(255, 255, 255) solid;
        }
    }


    @media (max-width: 600px) {
        .formPrestamoWrapper {
            width: 100%;
            border-radius: 0;
        }

    }

    form {
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;

        .form-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

        input {
            border: black solid 1px;
            padding: 5px;
            border-radius: 15px;
        }

        @media (max-width: 600px) {
            .form-item {
                flex-direction: column;
            }

            input {
                width: 100%;
            }
        }

        .btnEnviar {


            &:hover {
                background-color: $azul-claro;
                cursor: pointer;
                color: white;
            }
        }
    }

    .enunciado {
        display: flex;
        justify-content: center;
    }

}

.contenedorButton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button{
        padding: 8px;
        color: white;
        border: none;
        background-color: $azul-oscuro2;
        border-radius: 5px 0 5px 0;
        box-shadow: 2px 2px 2px black;
        &:hover{
            background-color: $azul-oscuro;
            cursor: pointer;
           
        }
    }
}

@media only screen and (max-width: 600px) {
    #solicitarPrestamoButton {
        width: 100%;
        height: 50px;
        position: relative;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    #solicitarPrestamoButton {
        width: 30%;
        height: 50px;
        bottom: 0;
    }
}


@media only screen and (min-width: 1024px) {
    #solicitarPrestamoButton {
        width: 25%;
        height: 50px;
        bottom: 0;
    }
}