.enunciado {
    background-color: $azul-oscuro3;
    margin: 0;
    text-align: center;
    padding: 19px;
    color: white;
}

.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prestamosMain {



    .error {
        text-align: center;
        font-size: 1.5em;
        padding: 5px;
    }

    .correct {
        text-align: center;
        font-size: 1.5em;
        padding: 5px;

    }

   
    @media (max-width: 600px) {
        .formPrestamoWrapper {
            width: 350px;
        }

    }
    @media (min-width: 601px) {
        .formPrestamoWrapper {
            width: 500px;
        }

    }


    .formPrestamoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $azul-oscuro3;
        margin-top: 10vh;
        margin-bottom: 5vh;
        box-shadow: 15px 15px 15px black;
        color: white;
        border-radius: 15px 0px 15px 0px;
       

        .saldoActual {
            text-align: center;
            width: 100%;
        }

        .hasta {
            text-align: center;
            width: 100%;
            border-bottom: 2px rgb(255, 255, 255) solid;
        }
    }

    form {
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;

        .form-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

        input {
            border: black solid 1px;
            padding: 5px;
            border-radius: 15px;
        }

        @media (max-width: 600px) {
            .form-item {
                flex-direction: column;
            }
            input{
                width: 100%;
            }
        }

        .btnEnviar {
            

            &:hover {
                background-color: $azul-claro;
                cursor: pointer;
                color: white;
            }
        }
    }



}