$fuente-secundaria: 'conquera-medium', sans-serif;
$fuente-principal: 'Arial', sans-serif;

$thick : 5px;
$pad : 0.5em;
$extra : calc(#{$pad} * 1.2);
$color : #ffffff;

$azul-claro: #0fc9f2;
$azul-oscuro: #014495;
$azul-claro2: #3fd4f5;
$azul-claro3: #0ba3c3;
$azul-oscuro2: #015bc8;
$azul-oscuro3: #012d62;

$bannerHeigth: 30vh;
$navbarHeigth: 50px;
$navbarPadding: 10px;