.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #014495;
}

.inicio {
  color: white;
  font-size: 2em;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 5px;
  margin-top: 10vh;
}

.inicio img {
  width: 30%;
  margin: 20px;
  -webkit-animation: flotar infinite 3s linear;
          animation: flotar infinite 3s linear;
}

@-webkit-keyframes flotar {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes flotar {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
.inicio h1 {
  margin: 0;
  letter-spacing: 10px;
}

.sesion {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .inicio h1 {
    font-size: 0.9em;
    padding-left: 2px;
  }
  .inicio p {
    padding-top: 10px;
  }
  .inicio img {
    width: 50%;
  }
}
.standard-button {
  margin: 15px;
  width: auto;
}

@media only screen and (min-width: 1025px) {
  .sesion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.standard-button {
  background: #0ba2c3;
}
.standard-button a {
  color: white;
  padding: 0.5em calc(0.5em * 1.2);
  display: inline-block;
  border: 5px solid transparent;
  position: relative;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.standard-button a .text {
  padding: 0 0.3em;
  -webkit-transform: translate3d(0, 0.5em, 0);
          transform: translate3d(0, 0.5em, 0);
  display: block;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s, -webkit-transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  text-align: center;
}
.standard-button a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: calc(0.5em * 1.2);
  right: calc(0.5em * 1.2);
  height: 5px;
  background: #ffffff;
  -webkit-transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, -webkit-transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.standard-button .line {
  position: absolute;
  background: #ffffff;
}
.standard-button .line.-right, .standard-button .line.-left {
  width: 5px;
  bottom: -5px;
  top: -5px;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}
.standard-button .line.-top, .standard-button .line.-bottom {
  height: 5px;
  left: -5px;
  right: -5px;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.standard-button .line.-right {
  right: -5px;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s, -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.standard-button .line.-top {
  top: -5px;
  -webkit-transition: -webkit-transform 0.08s linear 0.43s;
  transition: -webkit-transform 0.08s linear 0.43s;
  transition: transform 0.08s linear 0.43s;
  transition: transform 0.08s linear 0.43s, -webkit-transform 0.08s linear 0.43s;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.standard-button .line.-left {
  left: -5px;
  -webkit-transition: -webkit-transform 0.08s linear 0.51s;
  transition: -webkit-transform 0.08s linear 0.51s;
  transition: transform 0.08s linear 0.51s;
  transition: transform 0.08s linear 0.51s, -webkit-transform 0.08s linear 0.51s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.standard-button .line.-bottom {
  bottom: -5px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01), -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.standard-button a:hover .text,
.standard-button a:active .text {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s, -webkit-transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.standard-button a:hover:after,
.standard-button a:active:after {
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  right: -5px;
  left: -5px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  transition: right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
}
.standard-button a:hover .line,
.standard-button a:active .line {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.standard-button a:hover .line.-right,
.standard-button a:active .line.-right {
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transition: -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s, -webkit-transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.standard-button a:hover .line.-top,
.standard-button a:active .line.-top {
  -webkit-transition: -webkit-transform 0.08s linear 0.4s;
  transition: -webkit-transform 0.08s linear 0.4s;
  transition: transform 0.08s linear 0.4s;
  transition: transform 0.08s linear 0.4s, -webkit-transform 0.08s linear 0.4s;
  -webkit-transform-origin: right;
          transform-origin: right;
}
.standard-button a:hover .line.-left,
.standard-button a:active .line.-left {
  -webkit-transition: -webkit-transform 0.08s linear 0.48s;
  transition: -webkit-transform 0.08s linear 0.48s;
  transition: transform 0.08s linear 0.48s;
  transition: transform 0.08s linear 0.48s, -webkit-transform 0.08s linear 0.48s;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.standard-button a:hover .line.-bottom,
.standard-button a:active .line.-bottom {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s, -webkit-transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@font-face {
  font-family: "conquera-medium";
  src: url(../fonts/Conquera-Medium.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drescher-grotesk";
  src: url(../fonts/Drescher-Grotesk.woff2);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "drescher-grotesk", sans-serif;
  margin: 0;
}

body h1 {
  font-family: "conquera-medium", sans-serif;
}

img {
  width: 200px;
}