@font-face {
  font-family: "conquera-medium";
  src: url(../fonts/Conquera-Medium.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drescher-grotesk";
  src: url(../fonts/Drescher-Grotesk.woff2);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "conquera-medium", sans-serif;
}

body p {
  font-family: "drescher-grotesk", sans-serif;
}